<div class="card">
	<div class="card-header">
    <i class="fas fa-user"></i>
    <%= user.email %>
  </div>
  <div class="card-footer">
	  <i class="far fa-clock"></i> Created: <%= time_ago_in_words(user.created_at) %>
  <div class="row">
    Log-in counter: <%= user.sign_in_count %>
  </div>
  <div class="row">
    Current log-in time: <%= user.current_sign_in_at %>
  </div>
  <div class="row">
    Last sign-in time: <%= user.last_sign_in_at  %>
  </div>
  <div class="row">
    Current log-in IP: <%= user.current_sign_in_ip  %>
  </div>
  <div class="row">
    Last sign-in IP: <%= user.last_sign_in_ip	%>
  </div>
  <div class="row">
    Confirmed e-mail?
    <% if user.confirmed_at.present? %>
         <span class="badge badge-success"> Yes</span>
        <% else %>
         <span class="badge badge-danger"> No</span>
      <% end %>
  </div>
  </div>
</div>
