<div class="card">
	<div class="card-header">
	<i class="fas fa-book-reader"></i> <%= course.title %>
  </div>
  <div class="card-body">
	<%= course.description %>
  </div>
  <div class="card-footer">
	<i class="far fa-clock"></i> <%= course.created_at.strftime ('%d-%b-%Y') %>
  	<i class="fas fa-chalkboard-teacher"></i> <%= course.user %>
  	<br>
   	<%= link_to 'Show', course, class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </div>
</div>