<!DOCTYPE html>
<html>
  <head>
    <title>TmtSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header>
        <%= render 'layouts/navbar' %>
      </br>
      </header>
    </div>  
    <div class="container">
      <main>
      <%= yield %>
      <i class="far fa-address-book"></i>
      <%= link_to '', root_path, class: "fab fa-github" %>
      </main>
    </div>
    <div class="container">  
      <footer>
      </footer>
    </div>
  </body>
</html>
